# Enable mouse
# Note that this will interfere with mouse selection. In iterm2, hold down opt
# to enable normal mouse selection while mouse mode is on in tmux.
# set -g mouse on
# Enable sane scrolling.
# set -g terminal-overrides 'xterm*:smcup@:rmcup@'
