# This is an example of a local zshrc file. It should include any additional
# configurations that you want specific to a machine. This file should go in
# your home directory as ~/.zshrc.local.

# DEFAULT_USER="foobar" # Set default username.

# Attempt to take over existing sessions before creating a new tmux session.
# alias tmux="tmux a -d 2> /dev/null || tmux"

# Go environment variables for homebrew installation.
# export GOPATH=$HOME/.golang
# export GOROOT=/usr/local/opt/go/libexec
# _append_to_path $GOPATH/bin
# _append_to_path $GOROOT/bin

# Get the nth line from your output.
# function line() { sed "$1q;d" $2 }

# Alias https://github.com/sharkdp/bat to `cat`. Note that this may break
# scripts or i/o redirection since `bat` has a configurable pager.
# alias cat='bat'

# Alias https://github.com/sharkdp/hexyl to `hexdump`.
# alias hexdump='hexyl'
