[submodule "new_machine/gnome-terminal-colors-solarized"]
	path = new_machine/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "new_machine/fonts"]
	path = new_machine/fonts
	url = https://github.com/powerline/fonts.git
