" This is an example of a local vimrc file. It should include any additional
" configurations that you want specific to a machine. This file should go in
" your home directory as ~/.vimrc.local.

" set colorcolumn=80 " Set a line at 80 characters.

" set mouse=a " Enable mouse.

" Hide search highlighting
" map <Leader>h :set invhls <CR>
" Opens an edit command with the path of the currently edited file filled in
" Normal mode: <Leader>e
" map <Leader>e :e <C-R>=expand("%:p:h") . "/" <CR>
" Opens a tab edit command with the path of the currently edited file filled in
" Normal mode: <Leader>t
" map <Leader>te :tabe <C-R>=expand("%:p:h") . "/" <CR>
" Inserts the path of the currently edited file into a command
" Command mode: Ctrl+P
" cmap <C-P> <C-R>=expand("%:p:h") . "/" <CR>
" No Help, please
" nmap <F1> <Esc>
" Press ^F from insert mode to insert the current file name
" imap <C-F> <C-R>=expand("%")<CR>
